*{
    margin:0;
    padding: 0;;
}
.tool-img{
    height:4rem;
    width:4rem;
    margin-right:1rem;
}
.toolBar{
    display: flex;
    justify-content: center;
    background-color: brown;
}

.tool-options{
    display: none;
    height:8rem;
width:12rem;
background-color: darkblue;
}
.pencil-size{
    height: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pencil-color{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
    width:90%;
}

.colors{
    width: 20%;
    height: 60%;
    margin-right:.25rem;
    border-radius: 50%;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.tool{
    position: relative;
}
.tool-options{
    position: absolute;
    top:3.75rem;
    right: -2.75rem;

}

.show{
    display: block;
}






.stickyPad{
    /* create seperate page */
    position: absolute;
    left: 17rem;
    top: 14rem;
    height: 17rem;
    width: 15rem;
    /* background-color: greenyellow; */
   
}

.navBar{
    height: 20%;
    width:100%;
    background-color: rgb(178, 111, 34);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.minimize,.close{
    height:2rem;
    width:2rem;
    border-radius: 50%;
    margin-right:0.7rem;
}
.minimize{

    background-color: rgb(48, 211, 48);
}
.close{
    background-color:firebrick;
}


.writingPad{
    height: 80%;
    width:100%;
    background-color: goldenrod;
}
.textArea{
    width:99%;
    height:99%;
    
    background-color: inherit;
}

