.container {
  height: 30vh;
  width: 30vw;
  background-color: khaki;
  margin-left:20rem;;
  margin-top:10rem;;
}
/* width */
@media only screen and (max-width:1000px){
  .container{
    background-color: lawngreen;
  }
}

/* width */
@media only screen and (max-width:700px){
  .container{
    background-color: lightpink;
  }
}