doctype html
html
  head
  body
    include nav

    block header
      p i am home page
    block main
      h1 Content is provided by home page
    block howto 
      p following steps are above
    include footer
    //-              pug -w ./ -P