doctype html
html
  head
    title PugJS first Page
  body
    h1 Heading through templating
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, natus. 
    
    p.
      multiple line text 
      It can have second line also
    p
      |sdabmjhsdb
      |dmhvbvmdcbvjbdfhjv
      |mjhbsdmvbdjhv
      |cmvbsdmv
    h1#myid it is a myId h1
    h1.myclass
    #myId
    .myclass
    a(href="www.google.com") Go to google
    img(src="")
    //- 
    -const classes=["color-primary","large","md-8"];
    p(class=classes)
    -const products=["Iphone","Mac","Ipad","Note8"];
    ul
      for product in products
        li
          a(href="#")=product
      else
          li No products found
    