/* basic resets */
/* universal selector */
* {
  margin: 0;
  padding: 0;
  /* explain ??*/
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 1rem;
  color: gray;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
section {
  padding: 4rem 5rem;
}

h2 {
  font-size: 250%;
  text-align: center;
}

h2::after {
  content: "";
  display: block;
  height: 0.2rem;
  background-color: #e74c3c;
  width: 10rem;
  margin: 2rem auto;
}

h3 {
  font-size: 160%;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

/* Header */

/* to put text on image */
.showcase {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../img/showcaseBack.jpg");

  height: 100vh;
  background-attachment: fixed;

  background-size: 100vw;
  background-position: center;
  text-transform: uppercase;
}

.text-box {
  position: absolute;
  top: 34vh;
  left: 17vw;
  font-size: 200%;
  /* width: 42vw; */
}

.main-heading {
  color: white;
  /*  */
  line-height: 145%;
}

.span-styler {
  color: #e74c3c;
}

.sticky {
  position: fixed;
  height: 5rem;
  width: 100%;
  background-color: white;
  padding-bottom: 1rem;
  /* layers=> z inc nearer to user  */
  z-index: 1;
}
.sticky .nav-links {
  color: grey;
}
.nav-ul {
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  color: white;
}
.nav-li {
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  font-size: 145%;
}
.nav-li:hover {
  border-bottom: 0.1rem solid #e74c3c;
}
.btns-container {
  margin-top: 2rem;
}
/* reusable components */
/* .btn */
.btn {
  display: inline-block;
  color: white;
  font-size: 47%;
  padding: 1rem 1.2rem;
  background-color: #e74c3c;
  border-radius: 1.7rem;
  border: 0.1rem solid #e74c3c;
  margin-right: 1rem;
  /* change =>duration */
  transition: transform 0.5s;
}

.btn:hover {
  transform: scale(1.2);
  /* transform: rotate(90deg); */
}

.btn-empty {
  background-color: transparent;
  color: #e74c3c;
}

.btn-empty:hover {
  background-color: #e74c3c;
  color: white;
}

/* icons */
.icon {
  color: #e74c3c;
  font-size: 280%;
  margin-bottom: 2rem;
}
/* feature section */
.container-parent {
  display: flex;
  text-align: center;
  /* justify-content: space-evenly; */
}
.container {
  /* transform: scale(0.9); */
  margin-right: 1.5rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transition: transform 0.4s;
}
.feature-para {
  font-size: 120%;
  line-height: 145%;
  text-align: justify;
}
.container:hover {
  transform: scale(1.1);
}

.flex-container {
  display: flex;
}
.steps {
  background-color: gainsboro;
}
.image-container {
  width: 42vw;
  text-align: center;
}
.app-img {
  width: 15vw;
}
.steps-container {
  margin-top: 2rem;
}
.steps-flex-container {
  height: 28%;
}
.steps-flex-container p {
  /* vertical-align: center; */
  padding-top: 0.7rem;
}
.steps-flex-container div {
  float: left;
  padding: 0.8rem 1.2rem;
  border-radius: 50%;

  border: 1px solid red;
  font-size: 220%;
  margin-right: 1.5rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* signup */
.signup {
  background-color: black;
}

.bg-video {
  width: 30vw;
}

.signup-container {
  display: flex;
}

.signup-form {
  width: 40vw;
  /* text-align: center; */
  margin-left: 8rem;
}

input,
select,
textarea {
  width: 80%;
  display: block;
}

input[type="text"],
select {
  padding: 1rem;
}

button[type="submit"] {
  display: inline-block;
}
