
 /* * {
  color: greenyellow !important;
} 
h1 {
  color: green;
} */

.other.another{
  color:palevioletred;
}
.grey {
  color: gray;
}
/* #red {
  color: red;
}
.inheritance {
  color: purple;
} */

